@media only screen and (min-width: 942px) {
    .container {
        width: 100%;
        max-width: 942px;
        padding: 0 40px;
    }


 
    .partner_list{
        flex-wrap: nowrap;
        max-width: 942px;
    }
}
