/*font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;*/

html {
	box-sizing:border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #555252;
    font-size: 18px;
    line-height: 26px; 
}

.container{
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.page_header{
    margin: 0;
    margin-bottom: 76px;
    padding: 30px 0;
}

.logo{
    line-height: 32px;
    font-size: 30px;
    width: 110px;
    margin: 0 ;
    float: left;  
    text-align: center;
}

.logo a{
    text-decoration: none;
    color: #555252;
}

.logo p{
    margin: 0;
    padding: 0;
    font-weight: lighter;
    text-transform: uppercase;
}

.logo p::first-letter{
    color: #1abc9c;
    font-weight: bold; 
}

.page_nav{
    float: right;
}

.navigation {
    width: 464px;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    font-size: 14px;
    color: #0f0101;
    list-style: none;
}

.navigation li{
    float: left;
}

.navigation li:not(:last-child){
    margin-right: 28px;
}

.navigation li a{ 
    display: block;
    color: #555252;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 16px;
} 

.navigation li a:hover,
.navigation li a:focus{
    color: #1abc9c;
}

.featured_products{
    margin: 0 auto;
}

.section_title{
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    /*margin-bottom: 92px;*/
}

.section_title::after{
    content: "";
    display: block;
    margin: 30px auto; 
    width: 160px;
    height: 7px;
    background-color: #1abc9c;
}

.products{
    width: 100%;
    height: auto;
}

.products_list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.products_list li{
    float: left;
    width: 255px;
    height: 322px;
    margin-right: 30px; 
    margin-bottom: 30px;
    background-color: #e9f0fd;
}

.products_list a{
    width: 100%;
    height: 100%;
}

.products_list li:nth-child(4n + 4) {
    margin-right: 0; 
}

.products_list li:nth-last-child(-n + 4){
    margin-bottom: 100px;
}

.product_img{
    width: 100%;
    height: 282px;
}

.product_img img{
    width: 100%;
    height: 100%;
}

.product_notes{
    width: 100%;
    height: 40px;
    background-color:#323232;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
   }

.product_title{
    height: 100%;
    text-transform: uppercase;
    line-height: 32px;
    float: left;
    margin: 0;
    padding-top: 4px;
}

.product_price{
    text-align: center;
    margin: 0;
    padding-top: 4px;
    width: 54px;
    height: 100%;
    float: right;
    background-color: #8c8c8c; 
}

.product_link:hover .product_notes,
.product_link:focus .product_notes{
    background-color: #1abc9c;
}

.product_link:hover .product_price,
.product_link:focus .product_price{
    background-color: #7fd9c7;
}

.blog{
    width: 100%;
}

.blog_list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.blog_list li{
    float: left;
    width: 350px;
    margin-right: 30px; 
}

.blog_list li:last-child{
    margin-right: 0px;
}

.blog_title{
    line-height: 26px;
    font-size: 18px;
    color: #555252;
    margin: 0;
    margin-bottom: 26px;
}

.blog_title::after{
    content: "";
    display: block;
    margin-top: 10px; 
    width: 130px;
    height: 3px;
    background-color: #1abc9c;
}

.blog_text{
    line-height: 26px;
    font-size: 14px;
    font-family: "Open Sans" sans-serif;
    color: #555252;
    margin-bottom: 13px;
}

.blog_link{
    display: inline-block;
    width: 160px;
    height: 50px;
    background-color: #323232;
    text-align: center; 
    line-height: 26px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: lighter;
    color: #ffffff;
    border-radius: 5px;
    padding-top: 13px; 
}

.blog_link:hover,
.blog_link:focus{
    background-color: #1abc9c;
}